.fontSize{
    font-size: 12px;
    color: brown;
}
input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}